.wd-kanbas-nav {
    height: 100%;
    width: 80px;
    position: fixed; 
    top: 0; 
    left: 0;
    background-color: black; 
    text-decoration: none;
    padding-left: 0;
    padding-top: 0;
}
.wd-kanbas-nav img{
    width: 60px;
    height: 60px;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wd-kanbas-nav-sel {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    color: rgb(206, 2, 2);
    display: block;
    background-color: white;
    font-family: Arial;
}
.wd-kanbas-nav-unsel {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    color: rgb(206, 2, 2);
    display: block;
    background-color: black;
    font-family: Arial;
    text-decoration: none;
}
.wd-account {
    margin-left: 80px;
    position: fixed; 
    text-decoration: none;
    padding-left: 25px;
    padding-top: 15px;
    width: 90%;
}
.wd-account h1{
    display: inline-block;
    padding-left: 70px;
    text-decoration: none;
    font-family: arial;
}
.wd-account-nav {
    margin-left: 80px;
    margin-top: 90px;
    width: 190px;
    position: fixed; 
    text-decoration: none;
    padding-left: 25px;
}
.wd-account-nav-sel {
    border-left: solid;
    border-color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 6px;
    padding-bottom: 10px;
    padding-left: 6px;
    padding-right: 6px;
    text-decoration: none;
    text-align: left;
    font-size: 17px;
    color: black;
    display: block;
    font-family: Arial;
}
.wd-account-nav-unsel {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    text-decoration: none;
    font-size: 17px;
    text-align: left;
    color: rgb(206, 2, 2);
    display: block;
    font-family: Arial;
    text-decoration: none;
}
.wd-profile {
    margin-left: 270px;
    margin-top: 90px;
    width: 60%;
    position: fixed; 
    text-decoration: none;
    padding-left: 25px;
    padding-top: 10px;
    font-family: helvetica;
}
.wd-profile a{
    color: rgb(206, 2, 2);
    text-decoration: none;
}